body {
    background-image:url("tlo.png")
}

.workspc {
    position:fixed;
    margin:auto;
    right:10%;
    left:10%;
    top:0;
    width:80%;
    height:100%;
}

.left-sblock1 {
    background-color:#666666;
    position:absolute;
    width:2%;
    height:100%;
    left:0;
    top:0;
    margin-left:auto;
}

.right-sblock1 {
    background-color:#666666;
    position:absolute;
    width:2%;
    height:100%;
    right:0;
    top:0;
    margin-right:auto;
}

.opacity {
    opacity:0.8;
    width:4%;
}

.opacity1 {
    opacity:0.6;
    width:6%;
}

.opacity2 {
    opacity:0.4;
    width:8%;
}

.opacity3 {
    opacity:0.2;
    width:10%;
}

.textmod {
    text-align:center;
    font-family:'Comic Sans MS';
}

.formmod {
    background-color:white;
    position:fixed;
    right:35%;
    left:35%;
    width:400px;
    height:500px;
}